{% extends "base.html" %}
{% block title %}WannabeHealthy/Logout Page{% endblock %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}

<h1 class="green">
  <iconify-icon inline icon="ic:sharp-logout" class="greenicon"></iconify-icon>&nbsp;{% trans "Sign Out" %}
</h1>
<p class="green">{% trans 'Are you sure you want to sign out?' %}</p>
<div class="container-fluid" id="logout">
  <div class="row">
    <div class="col-md-5 mt-3 offset-md-2 form-box">
      <form method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
        <section class="center">
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <div id="center">
            <button class="btn btn-success" type="submit">{% trans 'Sign Out' %}</button>
          </div>
          <br>
      </form>
    </div>
  </div>
</div>

{% endblock %}