{% extends "base.html" %}
{% block title %}WannabeHealthy/Register Page{% endblock %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}


<h1 class="green"><iconify-icon inline icon="mdi:register" class="green"></iconify-icon>&nbsp;{% trans "Sign Up" %}</h1>
<h4 class="green">Welcome to Wannabe Healthy, please sign up</h4>

      <p class="green">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}
      </p>

      <br>

      <div class="container-fluid" id="newpost">
        <div class="row">
          <div class="col-md-8 mt-3 offset-md-2 form-box">
        </div>
      </div>
      

      <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="btn btn-success" id="greet" type="submit">{% trans "Sign Up" %} &raquo;</button>
        <br>
      </form>
    </div>
  </div>
</div>

<script>

let greet = document.getElementById("greet");
  // function to greet user (homepage)
button.addEventListener ("click", greetingUser);

  function greetingUser(event) {
  event.preventDefault();
  greet.textContent = `Nice to meet you, ${input.value}!`
}
</script>

{% endblock %}