/*Global*/

* {
    margin: 0;
    padding: 0;     
    text-decoration: none !important;
    
}

body {    
    background-color:whitesmoke;
    max-width: 1500px;   
    margin-left: auto;
    margin-right: auto       
        
}

html * {
    font-family: 'Roboto', sans-serif;    
    font-weight: 400; 
    color: #313131; 
    scroll-behavior: smooth;   
}

/*testin*/
.container {
	width: 100%;
	margin: auto;
	height: fit-content;
}

.btn {
    font-weight: bold !important;
}

img {
    height: auto;
    width: 100%;
  }
  
/*-------------------------------------*/
/*Navbar in base.html but on all pages*/
/*-----------------------------------*/

/* Styling for Title Wannabe Healthy*/
.title {
    color: #a3d31c;
    text-transform: capitalize;   
    font-family: 'Abril Fatface', cursive;    
    border-bottom:2px solid #a3d31c;
    font-weight: Bold; 
}

#header {    
    margin-left: 12px;
    left: 0;
    top: 0;       
}

/*hamburger for smaller screens*/
.bars {
    color:  #a3d31c !important;
}

/*Logo*/
#logo {
    height: 140px;
    width: 140px;
    padding: 10px;
}

/*styling for Navigation items*/
.nav-item,.nav-link {
    color: #a3d31c !important;
    font-size: 17px;
    letter-spacing: .2em;
    font-family: 'Abril Fatface', cursive;
    margin-left: 10px;   
    font-weight: bold;
    text-transform: capitalize;
}

/*Styling for Footer on all pages*/
footer {
    position: relative;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: #337920;
    color: white;
}

.footer-text,
.contact,
.social {
    padding-top: 5px; 
    color: white;
}

/*-------------------------------------*/
/* Styling for the Index Page */
/*-----------------------------------*/

/* Styling for Welcome Message */
.welcometosite {
    color: darkgreen;
    font-style: italic;
    font-size: 110%;
    font-weight: bold;
}

/*included in pagination options in blogs and recipes*/
.page-link {
    font-weight:bolder;
    color: darkgreen !important;
    font-style:oblique !important;    
}

/* Heading for index Page */
.bloghead {   
    text-align: center;
    color: darkgreen;
    font-family: 'Abril Fatface', cursive;
}

.text {   
    font-size: 110%;
    margin: 5vh;   
}

/*Search form for blogs styling*/
.searchform {
    padding-left: 20px;
    padding-top: 10px;
}

/* Blog Section on index page*/
/*blog content for blogs*/

/*Styling for individual blogs in blog section*/
.card-body1 {
    min-height: 460px;   
    background-color: rgba(244, 247, 244, 0.4);    
    border-radius: 5px;
    transition: all 1.5s ease;   
}

/*Styling for titles*/
.card-title {
    text-align: center;
    color: #274b12;
    text-transform: capitalize; 
    min-height: 30px;   
}

/* alignment of images in blogs */
.image-container {
    position: relative;
    /* padding: 10px;     */
}



.card-img-top1 {
    border-radius: 5px;
    border: 2px solid rgb(20, 88, 20);
    height: 250px;
    object-fit: cover;
       
}

.recipeimage {
    width: 300px;
    height: 250px;
    width: 350px;
    height: 250px;
}

/*Flash for author on image in blogs*/
.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: 15px;
    background-color: rgb(83, 212, 83, 0.8);
}

/*Flash for category on image in blogs*/
.image-flash1 {
    position: absolute;
    top: 5%;
    min-width: 30%;
    right: 15px;
    color: green;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    vertical-align: center;
}

/*Styling for author*/
.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

/*Styling for excerpt in blog*/
.card-text {
    text-align: center;    
    margin:5px; 
    /* min-height: 120px;   */
}

/*Styling for excerpt in blogs*/
.textual {
    min-height: 90px;    
    text-align: center;
}

/*Styling for blog look*/
.postlook {
    min-height: 580px;
    /* background-color: #7dd661; */
    padding-top: 15px;
    border: 1px solid white;
    border-radius: 15px;   
}

/* ? */
.block {
    margin-bottom: 20px;
}

/*-------------------------------------*/
/* Styling for the About Page */
/*-----------------------------------*/

/*Styling for about page image*/
.aboutpic {
    height: 250px;
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

/* Styling for heading for Post Details Page */
.masthead {
    margin: 20px;    
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
    text-align: center;
    padding-bottom: 40px;   
}

/*Styling for Category Title*/
.post-category {
    margin: 20px;      
    color: green;
    width: 15%;
    padding: 10px;
}

/*Styling for Post Detail Title*/
.post-title {
    margin-top: 20px;
    text-align: center;    
}

/*Styling for the subtitle of Post Detail blog*/
.post-subtitle {
    margin-left: 5%;
    color: darkslategray;
}

/*Styling for the subtitle of Recipe Detail page*/
.post-subtitle1 {
    text-align: center;
    color: darkslategray;
}

 .post-link {
    text-decoration: none;
    color: black;
} 

.post-link:hover,
.page-link {
    color: grey;
} 

 .btn-signup {
    background-color: purple;
    color: #fff;
} 

 .btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #7b8181;
}  

a:link {
    color: black;
    text-decoration: none;
}

.link {
    color: rgb(12, 11, 11);
    text-decoration: none;
}

a:link:after {
    color: rgb(19, 18, 18);
    text-decoration: none;
}

.link:hover,
.link:active {
    color: black;
    text-decoration: none;
} 

a,
a:hover {
    color: rgb(128, 123, 123);
    text-decoration: none;
}

/* a, a:visited, a:hover, a:active {
    color: inherit;
} */

/* Styling for like button*/
.btn-like, .btn-comment {
    color: rgb(65, 224, 65);
    border: none;
    background: transparent;
} 

.btn-like:hover,
.btn-like:active {
    color: rgb(5, 97, 5);   
    border: none;
}

.white {
    color: white;
}

.image-container{
    /* width: 300px;
    height: 200px; */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*Styling for headings on vararious pages*/
.green {
    margin-top: 10px;
    color: green;
    text-align: center;
}

/* Blog and recipe posts */
#newpost {
    background-color: #47d31c;
    border: 1px solid black;   
    width: 70vw;
    opacity: .9;
    margin-bottom: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 15px 15px;
    min-height:520px;
    border-radius: 15px;
}

#newpost1 {
    background-color: rgb(89, 168, 89);
    border: 1px solid black;    
    padding: 10px;
    width: 60vw;
    opacity: .9;
    margin-bottom: 20px;
    border-radius: 15px;   
}

/*Styling for input and textareas for forms*/
#newpost input,
textarea  {
    width: 40vw;
    line-height: 1.3vh;   
    /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
    padding: 15px 15px;
    display: block;
    width: 100%; 
    margin-left: 5px;
    background-color: lightcyan;
    border-radius: 15px;      
}

/*Styling for checkbox in form*/
#newpost [type=checkbox] {
    width: 20px;
    display:inline;
}

#newpost label, #newpost1 label {
    color: black;
    margin: 10px;
    font-weight: bold;
}

#newpost1 input,
textarea {
    line-height: 1.5vh;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 15px 15px;
    display: block;
    width: 100%;
    margin-left: 5px;
}

/*Styling to centre elements in site*/
#center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    color: white;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    color: white;
}

/*Styling to centre images*/
#centerimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 200px;   
}

.btn-link {
    text-align: right;
    display: block;
}

/*-------------------------------------*/
/* Styling for the Recipes Page */
/*-----------------------------------*/

/* Styling for Recipes in Recipes Page*/
#recipeintro {
    display: block;
    margin-left: auto;
    margin-right: auto;      
    padding: 10px;
    margin-top: 20px;   
    color: white;
    line-height: 1.5;
    font-size: 110%;
    text-align: center;
    color: darkgreen;    
}

/*Styling for Recipe Category*/
.recipe-category {
    margin-left: 10%;
    color: green;
    width: 50vw;
    padding: 5px;   
    text-align: center;
    word-spacing: 1vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

#border {
    border: 3px solid green;   
}

.background {
    background-color: #0caf4b;
}

/*Recipe body*/
.card-body {
    min-height: 420px;
    background-color: white;
    grid-row-gap: 60px;
    padding: 5px;
    border: 2px solid green;
    border-radius: 15px;     
}

.recipe-title  {
    text-align: center;
    color:rgb(35, 94, 35);
    text-transform: capitalize;
    min-height: 90px;
}

.recipe-subtitle {
    text-align: center;
}

.card-text {
    color: black;
}

.postlook1 {
    min-height: 480px;    
    padding-top: 25px;
    border-radius: 25px;      
}

/*Flash for category on image in recipes*/
.image-flash2 {
    position: absolute;
    top: 15px;
    min-width: 35%;
    right: 15px;
    color: green;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    vertical-align: center;   
}

/*Flash for author on image in recipes*/
.image-flash3 {
    position: absolute;    
    min-width: 40%;
    bottom:40%;
    left: 25px;
    background-color: rgb(83, 212, 83, 0.7);   
}

.centeralign {
    display: block;
    margin-left: auto;
    margin-right: auto;   
    width: 400px;
    margin-top: 10px;
    color: green;
    margin-bottom: 5px;
}


.btn btn-danger, .btn-warning{    
    color: black;
}

/*-------------------------------------*/
/* Styling for the Recipe Detail Page */
/*-----------------------------------*/

/*Styling for method*/
.method {
    color: blue;
}

/*Styling for recipe details headings*/
.stylingtext {
    color: green;
    width: 70vw;
    margin: 10px;
    padding: 10px;
    text-indent: 10px;
    font-family: 'Marhey', cursive;    
}

/*Styling for comment section*/
.commentsection {
    height: fit-content;       
}

.poster {
    padding: 10px;
    align-content: center;
}

/*Styling for profile section in recipe detail page*/
.profilesection {
    height:fit-content;    
}

.italic-bold {
    text-align: justify;    
    font-style: italic;
    color: green;
    font-size: larger;
    text-align: center;
}

/* Styling for button groups*/
.buttongroup {
    text-align: center;
    color: white;
     
}

/*Styling for Buttons*/
.btnstyle {
    width: 80px;    
    color: white;
    font-size: 16px;
}

/*Styling for buttons in about page to blog and recipes*/
.btnabout {
    width: 130px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    font-weight: bold;
    background-color: rgb(182, 11, 39); 
}

#block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
    color: white;  
    background-color: rgb(19, 163, 31);
}

/*Styling for back buttons on pages*/
.backbutton {
    margin-left: 15px;
    background-color:rgba(0, 0, 0, 0.2)
}

.btn btn-primary {
    margin-left: 20px;
    font-weight: bold;
    background-color: lightblue !important; 
}

.btn-success, .btn-danger {
    padding: 10px;
    color: white !important;
}

.col-md-6 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.labelling {
    font-weight: bold;
    color: green;
}

/* Styling for text in profile page*/
.profedit {
    text-align: right;
    margin-bottom: 10px;    
}

/* Forms */

/* #form {
    background-color: rgb(89, 168, 89);
    border: 1px solid black;    
    padding: 10px;   
    width: 60vw;
    opacity: .9;
    margin-bottom: 10px; 
    
} */

/* Styling for logout page */
#logout {
    background-color: #47d31c;
    border: 1px solid black;   
    width: 50vw;
    opacity: .9;
    margin-bottom: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 10px;   
    border-radius: 15px;
    margin-top: 20px;  
}

/* Styling for User image in navbar */
.nav-img {
    float: right;
    height: 60px;
    width: 60px;   
    border-radius: 50px;
    border: 2px solid #a3d31c;
}


  .profile-img {
    display: block; 
    margin-left: auto;
    margin-right: auto;
    height: 130px;
    width: 130px;   
    border-radius: 50px;
    border:solid green 4px;   
    position:relative;     
} 

/* Styling for Profile image */
#profile-img1 {
    display: block; 
    margin-left: auto;
    margin-right: auto;
    height: 130px;
    width: 130px;   
    border-radius: 50px;
    border:solid green 4px;   
    position:relative;     
}

/* Styling for Profile Title */  
.profile-title {
    color: Green;
    text-transform: capitalize;
}

  /*-------------------------------------*/
/* Styling for the content in the blogs */
/*-----------------------------------*/

/* Styling for unordered lists in blogs and Recipes */  
.unordered {
    line-height: 1.5;
    font-family: 'Marhey', cursive;     
}

/* Styling for ordered lists in blogs and Recipes */ 
.ordered {
    line-height: 2;   
}

/* Styling for List items in blogs and Recipes */ 
ul li, ol li {       
    font-weight:400;
    font-size: 110%;
    margin: 5px;
}

ol {
    list-style: none;
    counter-reset: num;
}

ol li {
    counter-increment: num;
}

ol li::before {
    content: counter(num) ". ";
    color: green;
}

  .content {
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
    color: #313131;
    font-size: 110%;
}


  /*Styling for the icons with Headings on relevant pages*/
  .greenicon {
    color: green;
    margin-top: 8px;       
}

  .label-icon{
    color: white !important;
}

   /* .img-fluid {
    width: 90vw;
    height: auto;
    object-fit: cover; 
}  */

.card-body2 {
    min-height: 300px;
    text-align: center;
    line-height: 1.5;
    padding: 5px;
    text-align: center;    
}

.card-body3 {
    min-height: 300px;   
    line-height: 1.5;
    padding: 5px;
    text-align: center;    
}

.btn-danger {    
    font-weight: bold;
}

.likecom {
    color:rgb(19, 163, 31);
    font-weight: bold;
    font-size: 110%;   
}

.inner {
    overflow: hidden;
}

.inner img {
    transition: all .3s ease;
}

.inner:hover img {
    transform: scale(1.2);
}

.card-body1:hover {
    transform: scale(1.05);
}

.how-img {
    width: 80%;
    height: auto;
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 991.98px){ 

    .title {
        border-bottom: none; 
    }
 }




 



