/**Type Fonts**/

/* Lato */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,900;1,300;1,400;1,700&display=swap');

/* Roboto */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

body {    
    background-color:whitesmoke;    
}

html * {
    font-family: Roboto, 'sans-serif';
    font-size: 1.6rm;
    font-weight: 300;     
}

/* Styling for Title */
.title {
    color: #a3d31c;
    text-transform: capitalize;
    -webkit-text-stroke-color: #fff;
    letter-spacing: .1em;
    font-family: 'Abril Fatface', cursive;
    text-decoration: none; 
    border-bottom:2px solid #a3d31c; 
}

#header {    
    margin-left: 12px;       
}

/*hamburger*/
i.fa.fa-bars {
    color:  #a3d31c !important;
}


#logo {
    height: 120px;
    width: 130px;
    padding: 10px;
}

/*styling for Navigation items*/
.nav-item,.nav-link {
    color: #a3d31c !important;
    font-size: 17px;
    letter-spacing: .2em;
    font-family: 'Abril Fatface', cursive;
    margin-left: 10px;   
    font-weight: bold;
    font-style: capitalize;
    
    }

/* Styling for Welcome Message */
.welcometosite {
    color: darkgreen;
    font-style: italic;
    font-size: 110%;
    font-weight: bold;
}


/* Heading for index Page */
.bloghead {
    padding-top: 10px;
    text-align: center;
    color: darkgreen;
    font-family: 'Abril Fatface', cursive;;
}

/* Blog Section */

/*blog content area*/
.card-body1 {
    min-height: 500px;
    background-color: rgb(164, 240, 164, 0.4);
}

.card-title {
    text-align: center;
    color: #274b12;
    text-transform: capitalize;    
}
/* alignment of blogs */
.image-container {
    position: relative;
    padding: 5px;    
}

.card-img-top {
    border-radius: 5px;
    border: 2px solid rgb(20, 88, 20);
    width: 250px;
    height: 280px;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: 15px;
    background-color: rgb(83, 212, 83, 0.8);
}

.image-flash1 {
    position: absolute;
    top: 5%;
    min-width: 30%;
    right: 15px;
    color: green;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    vertical-align: center;
}

.image-flash2 {
    position: absolute;
    top: 10px;
    min-width: 30%;
    right: 15px;
    color: green;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    vertical-align: center;
}

.image-flash3 {
    position: absolute;    
    min-width: 30%;
    bottom:30%;
    left: 25px;
    background-color: rgb(83, 212, 83, 0.8);
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}
.card-text {
    text-align: centre;
    padding: 5px;
    margin:5px;   
}

#postlook {
    min-height: 500px;
    background-color: #7dd661;
    padding-top: 25px;
    border: 3px solid white;
    border-radius: 25px;
}

#block {
    margin-bottom: 20px;
}

/*Styling for about page image*/
.aboutpic {
    height: 250px;
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

/* Styling for heading for Post Details Page */

.masthead {
    /* margin: 20px;     */
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
    text-align: center;
    padding-bottom: 20px;   
}

.masthead-text {
    background-color: green;
    color: white;
    position: relative;
    text-transform: Capitalize;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 80%;
    height: 100%;
    width: 75%;
    background: green;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(5deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-category {
    margin: 20px;      
    color: green;
    width: 15%;
    padding: 10px;
}

/* .post-link {
    text-decoration: none;
    color: black;
} */

/* .post-link:hover,
.page-link {
    color: grey;
} */

.post-title {
    margin-top: 20%;
    text-align: center;
}

.post-subtitle {
    margin-left: 5%;
    color: darkgray;
}

.btn-signup {
    background-color: green;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #7b8181;
}

.link {
    color: black;
    text-decoration: none;
}

a:link {
    color: black;
    text-decoration: none;
}

a:link:after {
    color: black;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: black;
    text-decoration: none;
}

.btn-like {
    color: lightgreen;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: green;
    background: transparent;
    border: none;
}
footer {
    position: relative;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: #337920;
    color: white;
}

.footer-text,
.contact,
.social {
    padding: 10px;
    color: white
}

.green {
    margin-top: 10px;
    color: green;
    text-align: center;
}

a,
a:hover {
    color: rgb(255, 254, 254);
    text-decoration: none;
}

a, a:visited, a:hover, a:active {
    color: inherit;
  }

/* Blog and recipe posts */

#newpost {
    background-color: #47d31c;
    border: 1px solid black;   
    width: 70vw;
    opacity: .9;
    margin-bottom: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 15px 15px;
    min-height:530px;
    border-radius: 15px;

}

#newpost1 {
    background-color: rgb(89, 168, 89);
    border: 1px solid black;
    box-shadow: #175306;
    padding: 10px;
    width: 60vw;
    opacity: .9;
    margin-bottom: 20px;
}

#newpost input,
textarea  {
    width: 40vw;
    line-height: 1.3vh;   
    /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
    padding: 15px 15px;
    display: block;
    width: 100%; 
    margin-left: 5px;
    background-color: lightcyan;
    border-radius: 15px;      
}

#newpost [type=checkbox] {
    width: 20px;
    display:inline;
}

#newpost label, #newpost1 label {
    color: black;
    margin: 10px;
    font-weight: bold;
}

#newpost1 input,
textarea {
    line-height: 1.5vh;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 15px 15px;
    display: block;
    width: 100%;
    margin-left: 5px;
}

/*Styling to centre elements in site*/
#center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    color: white;
}

/*Styling to centre images*/
#centerimage {
    display: block;
    margin-left: auto;
    margin-right: auto;   
}

.btn-link {
    text-align: right;
    display: block;
}

.text {
    text-align: justify;
    font-size: 110%
}


.searchform {
    padding-left: 20px;
    padding-top: 10px;
}

/* Styling for Recipes in Recipes Page*/
#recipeintro {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid rgb(3, 46, 3);
    border-radius: 15px;   
    padding: 10px;
    margin-top: 20px;
    background-color: rgb(19, 163, 31);
    color: white;
    text-align: justify;
}


.recipe-category {
    margin-left: 10%;
    color: green;
    width: 50vw;
    padding: 5px;   
    text-align: center;
    word-spacing: 1vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

#border {
    border: 3px solid green;   
}

.background {
    background-color: #0caf4b;
}

.card-body {
    min-height: 520px;
    background-color: rgb(148, 245, 177);
    grid-row-gap: 50px;
    padding: 10px;
}

.recipe-title  {
    text-align: center;
    color:rgb(35, 94, 35)
}

.recipe-subtitle {
    text-align: center;
}

#postlook1 {
    min-height: 480px;    
    padding-top: 25px;
    border-radius: 25px;   
}

.centeralign {
    display: block;
    margin-left: auto;
    margin-right: auto;   
    width: 400px;
    margin-top: 10px;
    color: green;
    margin-bottom: 5px;
}


.btn btn-danger{
    background-color: deeppink;
    color: white;
}

.method {
    color: blue;
}

.stylingtext {
    color: green;
    width: 70vw;
    margin: 10px;
    padding: 10px;
    text-indent: 10px;
    
}

.commentsection {
    height: 90vh;    
}

.italic-bold {
    text-align: justify;    
    font-style: italic;
    color: green;
    font-size: larger;
    text-align: center;
}


.buttongroup {
    text-align: center;
    color: white;
    margin-top: 10px;    
}

#block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
    color: white;  
    background-color: rgb(19, 163, 31);
}

.backbutton {
    margin-left: 15px;
    background-color:rgba(0, 0, 0, 0.2)
}

.btn btn-primary {
    margin-left: 20px;   
}

.col-md-6 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.labelling {
    font-weight: bold;
    color: green;
}

.profedit {
    text-align: right;
    margin-bottom: 10px;;
    
}

/* Forms */

/* #form {
    background-color: rgb(89, 168, 89);
    border: 1px solid black;    
    padding: 10px;   
    width: 60vw;
    opacity: .9;
    margin-bottom: 10px; 
    
} */

#logout {
    background-color: #47d31c;
    border: 1px solid black;   
    width: 50vw;
    opacity: .9;
    margin-bottom: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 10px;   
    border-radius: 15px;
    margin-top: 20px;  

}

.nav-img {
    float: right;
    height: 60px;
    width: 60px;   
    border-radius: 50px;
  }

  .nav-img1 {
    /* float: left; */
    height: 60px;
    width: 60px;   
    border-radius: 50px;
    /* margin-left: 20px;
    margin-bottom: 20px; */
  }

