{% extends 'base.html' %}
{% load static %}
{% load cloudinary %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 my-auto form-container text-center rounded mx-auto my-2 py-2">
            <h2 class = "green">Error 405: Method Not allowed</h2>
            <h3 class = "green">Sorry about That!  :( </h3>
            <br>
            <img class="img-fluid" alt="Zen Moment"
            src="https://res.cloudinary.com/dspwticaf/image/upload/v1668886130/zenmoment_cdhzta.jpg" width="200" height="200"/>
            <br>
            <br>
            <a href="{% url 'home' %}" class="btn btn-primary">Back</a>
            <h4 class="green">Explore here instead</h4>
            <br>            
        </div>
    </div>
</div>
{% endblock %}