{% extends "base.html" %}
{% block title %}WannabeHealthy/Home{% endblock %}
{% block content %}

{% if user.is_authenticated %}
<span class="welcometosite">Signed in as {{ user.username }}</span>
{% endif %}

<div id="outputDiv"></div>
<div id="top"></div>

<div class="d-flex ">
    <div class="container-fluid align-self-center">
        <div class="row justify-content-center">
            <div class="col-12 col-xs-6 col-md-7 col-lg-8 col-xl-6 text-center">
                <h1 class="bloghead">Welcome to Wannabe Healthy</h1>
                <div class="lc-block mb-3">
                    <img class="img-fluid" alt="Healthy Woman"
                        src="https://res.cloudinary.com/dspwticaf/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1664628439/Woman_Health_uoejs2.jpg" width="1000" height="700">
                    <br>
                    <div class="rich">
                        <p class="text">We all aspire to have happy and healthy lives, but we can get caught
                            up in our hectic lifestyles and develop unhealthy habits. We want to change
                            but don't know how or where to start. In this website I hope to share
                            blogs and healthy recipes to inspire you to make simple changes or at least
                            provide you with a starting point for your own Healthy Lifestyle journey.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<h2 class="bloghead">Lifestyle Blog</h2>
{% if user.is_authenticated %}
<a href="{% url 'add_post' %}" class="btn btn-success" id="center">Add a Post</a>
{% endif %}
<br>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <nav class="searchform">
                <div>
                    <form role="search" action="{% url 'search_blogs' %}" method="get">
                        {% csrf_token %}
                        <div class="input-group">
                            <label for="q" class="sr-only">Search</label>
                            <input type="text" name="q" id="q" class="form-control"
                                placeholder="Search by Category/Word">
                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-search btn btn-success">
                                    <span class="glyphicon glyphicon-search"></span>
                                    <span class="label-icon">Search</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </nav>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <!--Blog Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for post in post_list %}
                <div class="col-md-4 col-sm-6 postlook">
                    <div class="card">
                        <div class="card-body1">
                            <div class="image-container">
                                {% if "placeholder" in post.featured_image.url %}
                                <img class="card-img-top img-fluid"
                                    src="https://res.cloudinary.com/dspwticaf/image/upload/v1664552676/po7sj5nr75pw0p9maekl.jpg" width="300" height="250"
                                    alt="{{ post.title }} generic">
                                {% else %}
                                <img class="card-img-top img-fluid" src=" {{ post.featured_image.url }}" width="300" height="250"
                                    alt="{{ post.title }} photo">
                                {% endif %}
                                <div class="image-flash1">
                                    <h3 class="category"> {{ post.category }}</h3>
                                </div>
                                <div class="image-flash">
                                    <p class="author">Author: {{ post.author }}</p>
                                </div>
                            </div>
                            <a href="{% url 'post_detail' post.slug  %}">
                                <h4 class="card-title">{{ post.title }}</h4>
                                <p class="textual text-justify-center">{{ post.excerpt }}</p>
                            </a>
                            <hr>
                            <p class="card-text likecom">{{ post.created_on}} <iconify-icon
                                    icon="ant-design:heart-outlined" class="btn-like" width="20"></iconify-icon>
                                {{ post.number_of_likes }} &nbsp;<iconify-icon inline icon="fa-regular:comments"
                                    width="23" class="btn-comment">
                                </iconify-icon>&nbsp;{{ post.number_of_comments }}</p>
                            <br>
                            {% if user.is_authenticated %}
                            {% if user.id == post.author.id %}
                            <div class="buttongroup">
                                <a href="{% url 'edit_post' post.slug %}" class="btn btn-success btnstyle">Edit</a>
                                <a href="{% url 'delete_post' post.slug %}" class="btn btn-danger btnstyle">Delete</a>
                            </div>
                            <br>
                            
                            {% endif %}
                            {% endif %}                            
                        </div>                        
                    </div>                    
                    {% if forloop.counter|divisibleby:3 %}                    
                    {% endif %}                    
                </div>
                
                {% empty %}                
                <h3 class="nosearchresults col-md-3">oops, there are no results, try again or return to main page</h3>
                <br>
                <div class="center">                                             
                <a href="{% url 'home' %}" aria-label="Going back to home page" class="btn btn-primary btn-sm" id="center">BACK</a>
                <br>
                <br>
                </div>                                                          
                {% endfor %}                
                <br>
            </div>
        </div>        
    </div>   

    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

<a id="top-button" href="#top" aria-label="Going to top of page">Top of Screen &nbsp; <iconify-icon inline
        icon="mdi:arrow-up" class="greenicon" width="18"></iconify-icon>
</a>

{%endblock%}