{% extends "base.html" %}
{% block title %}About Page{% endblock %}
{% block content %}

<div class="container">
    <div class="row text-center">
        <div class="col-6 my-auto">
            <h1 class="green">About Wannabe Healthy</h1>
            <p class="text">Wannabe Healthy as a site, is a fledgling site with related topics around Health and wellbeing.
                As a user you can review blogs and as a registered user you can submit your own blogs and you you
                can comment on and show appreciation for existing blogs. You can also review our recipe page which
                will have a theme of healthy eating to help you get on your own health journey. Again you can
                reviewrecipes and you can submit your own healthy recipes. So stay a while and find inspiration, your actions wil have an impact
                on your life so a healthy choice today can influence your future wellbeing.
            </p>
        </div>
        <div class="col-6 mobile-img">
        <img class="img-fluid" alt="Happy Woman" class="float-right" src="https://res.cloudinary.com/dspwticaf/image/upload/v1665756979/happy_maegjk.jpg">
        </div>


    </div>
</div>

<a href="{% url 'home' %}" class="btn btn-secondary">Back</a>


{%endblock%}