{% extends "base.html" %}
{% block title %}WannabeHealthy/Add Recipe{% endblock %}
{% block content %}

{% load crispy_forms_tags %}


<h1 class="green"><strong>Add a Recipe:</strong></h1>
<p class="green">Ensure to complete all fields</p>

<div class="container-fluid">
    <div class="row">
        <section class="py-5 min-vh-80">
            <div class="container" id="newpost">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <br>
                        <form class="form text-muted" method="POST" action="{% url 'add_recipe' %}"
                            enctype="multipart/form-data">

                            {% csrf_token %}
                            {{ form | crispy }}
                            <br>
                            <br>
                            <button class="btn btn-primary" type="submit">Add Post</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>


    </div>
</div>

<a href="{% url 'recipes' %}" class="btn btn-secondary">Back</a>


{%endblock%}