{% extends "base.html" %}

{% block content %}

<div class="d-flex min-vh-100">
    <div class="container align-self-center">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8 col-xl-6 text-center">
                <div class="lc-block mb-2">
                    <img class="img-fluid w-100" alt="Healthy Woman"
                        src="https://res.cloudinary.com/dspwticaf/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1664628439/Woman_Health_uoejs2.jpg">
                    <div class="lc-block mb-4">
                        <div editable="rich">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <h2 class="bloghead">ADD YOUR BLOG</h2>

    <div class="container-fluid">
        <div class="row">


        </div>
    </div>
    {%endblock%}