{% load static %}

<!DOCTYPE html>
<html lang="en" class="h-100">



<head>

    {% block meta %}
    <!--Required meta-tags-->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A health related website where people can learn more about healthy living">
    <meta name="keywords" content="Health, Diet, Exercise, Relaxation, Blog">
    <meta name="author" content="Michelle Hickey">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}


    {% endblock %}

    {% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock %}

    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"/> -->
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
    <!--Cloudinary-->
    <link rel="icon" type="images/png"
        href="https://res.cloudinary.com/dspwticaf/image/upload/v1664556486/favicon-16x16_t2w0oj.png">
    <!--Bootstrap js/css-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>
    <!-- FONT-AWESOME -->
    <script src="https://code.iconify.design/iconify-icon/1.0.1/iconify-icon.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/solid.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/regular.min.css">
    <!-- FAVICON -->
    <link rel="icon" type="image/x-icon"
        href="https://res.cloudinary.com/dspwticaf/image/upload/v1664556486/favicon-16x16_t2w0oj.png">





    <script src="https://kit.fontawesome.com/e9c73d7092.js" crossorigin="anonymous"></script>
    <title>{% block title %}Wannabe Healthy{% endblock %}</title>

</head>

<body class="d-flex flex-column h-100 main-bg">

    {% block page_header %}
    {% endblock %}



    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid" id="header">
            <a href="{% url 'home' %}" class="navbar-brand">
                <img id="logo" src="https://res.cloudinary.com/dspwticaf/image/upload/v1664291226/logo_frehe3.png" alt="wannabe logo"></a>
            <h3 class="title">Wannabe Healthy</h3>
            <button class="navbar-toggler box-shadow collapsed" style="text-align: center;" type="button"
                data-bs-toggle="collapse" data-bs-target="#header" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="header">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'home' %}">Home </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}">About </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'recipes' %}">Recipes </a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile' %}">Profile </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_logout' %}">Logout </a>
                    </li>
                    <div> <img class="nav-img" id="profile-img"
                    src="{{ user.profile.profile_pic.url }}" class="img-radius" alt="User-Profile-Image"> </div>

                                        
                    {% else %}
                    <!-- <ul class="navbar-nav ms-auto"> -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">Account</a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{% url 'account_login' %}">Login</a></li>
                                <li><a class="dropdown-item" href="{% url 'account_signup' %}">Register</a></li>
                            </ul>
                        </li>
                    
                    {% endif %}

                </ul>

            </div>
        </div>
    </nav>


    <!-- {% if user.is_authenticated %}
    <span class="welcometosite">Welcome back, {{ user.username }}</span>
    <img class="rounded-circle article-img" src="{{ profile.profile_pic.url }}" width='240' alt={{user}}>
   
    {% endif %} -->

    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
                    {{ message | safe }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <main class="flex-shrink-0 main-bg">

        {% block content %}

        <!-- Content Goes here -->

        {% endblock content %}
    </main>

    <!-- Footer -->
    <footer id="footer" class="footer bg-setup main-bg-desktop main-bg-mobile text-center">
        <div class="overlay overlay-footer"></div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="footer-text">
                        <h4>Wannabe Healthy</h4>
                        <p class="footer-text">We all strive to be more healthy,this site offers some
                            direction information and recipes that you can adapt for your
                            own needs, and it may be a good starting point for your own health journey.
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="contact">
                        <h4>Contact</h4>
                        <p>
                            <iconify-icon icon="cil:phone" width="20"></iconify-icon>+ 01-4590808
                        </p>
                        <p>
                            <iconify-icon icon="ci:mail" width="20"></iconify-icon>info@wannabehealthy.com
                        </p>
                        <p>
                            <iconify-icon icon="bi:house-heart" width="20"></iconify-icon>28 Patrick's Street, Dublin 8.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 footer-box text-white">
                    <div class="social">
                        <h4>Follow Us</h4>
                        <!-- Facebook -->
                        <a style="color: #3b5998;" href="#!" role="button">
                            <iconify-icon icon="logos:facebook" width="40"></iconify-icon>
                        </a>&nbsp;

                        <!-- Twitter -->
                        <a style="color: #55acee;" href="#!" role="button">
                            <iconify-icon icon="logos:twitter" width="40"></iconify-icon>
                        </a>&nbsp;

                        <!-- Instagram -->
                        <a style="color: #ac2bac;" href="#!" role="button">
                            <iconify-icon icon="icon-park:instagram" width="40"></iconify-icon>
                        </a>

                    </div>
                </div>
            </div>
            <hr>

            <p class="m-0 text-center text-white">&copy; Wannabe Healthy 2022 </p>
            <!-- <p class="m-0 text-center text-white">Follow us: <i class="fab fa-facebook-square ms-3"></i>
            <i class="fab fa-twitter-square ms-3"></i>-->
    </footer>

    <script>
        setTimeout(function () {
            let messages = document.getElementById('msg');
            let alert = new bootstrap.Alert(messages);
            alert.close();
        }, 2500);
    </script>
</body>

</html>