{% load static %}

<!DOCTYPE html>
<html lang="en">
<html class="h-100">

<!-- <html class="h-100"> -->

<head>

    {% block meta %}
    <!--Required meta-tags-->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A health related website where people can learn more about healthy living">
    <meta name="keywords" content="Health, Diet, Exercise, Relaxation, Blog">
    <meta name="author" content="Michelle Hickey">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    {% endblock %}

    {% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock %}

    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap" rel="stylesheet">
    <!--Cloudinary-->
    <link rel="icon" type="images/png"
        href="https://res.cloudinary.com/dspwticaf/image/upload/v1664556486/favicon-16x16_t2w0oj.png">
    <!--Bootstrap js/css-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>
    <script src="https://kit.fontawesome.com/e9c73d7092.js" crossorigin="anonymous"></script>
    <title>{% block title %}Wannabe Healthy{% endblock %}</title>

</head>

<body class="d-flex flex-column h-100 main-bg">

    {% block page_header %}
    {% endblock %}

    <!-- Navigation -->

    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid" id="header">
            <a class="navbar-brand" href="{% url 'home' %}">
                <img id="logo" type="image/png"
                    src="https://res.cloudinary.com/dspwticaf/image/upload/v1664291226/logo_frehe3.png"
                    class="img-fluid" alt="Responsive image">
            </a>
            <!-- {% if user.is_authenticated %}
                <span class="welcomeToSite">Welcome back, <strong class="text-light">{{ user.username }}</strong></span>
                {% endif %}                     -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-left">
                    <!-- add the active class to the currently chosen page -->
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home |</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}">About |</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'recipes' %}">Recipes |</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_logout' %}">Logout |</a>
                    </li>
                    {% else %}

                    <li class="nav-item-right">
                        <a class="nav-link" href="{% url 'account_signup' %}">Register |</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_login' %}">Login</a>
                    </li>
                    {% endif %}

                </ul>

            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
                    {{ message | safe }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <main class="flex-shrink-0 main-bg">

        {% block content %}

        <!-- Content Goes here -->

        {% endblock content %}
    </main>

    <!-- Footer -->
    <footer id="footer" class="footer bg-setup main-bg-desktop main-bg-mobile text-center">
        <div class="overlay overlay-footer"></div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="footer-text">
                        <h4>Wannabe Healthy</h4>
                        <p class="footer-text">We all strive to be more healthy,this site offers some
                            direction information and recipes that you can adapt for your
                            own needs, and it may be a good starting point for your own health journey.
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="contact">
                        <h4>Contact</h4>
                        <p><i class="fas fa-phone">&nbsp;</i>+ 01-4590808</p>
                        <p><i class="far fa-envelope">&nbsp;</i>info@wannabehealthy.com</p>
                        <p><i class="fas fa-home">&nbsp;</i>28 Patrick's Street, Dublin 8.</p>
                    </div>
                </div>
                <div class="col-md-4 footer-box text-white">
                    <div class="social">
                        <h4>Follow Us</h4>
                        <!-- Facebook -->
                        <a style="color: #3b5998;" href="#!" role="button"><i class="fab fa-facebook-f fa-2x"></i></a>&nbsp;

                        <!-- Twitter -->
                        <a style="color: #55acee;" href="#!" role="button"><i class="fab fa-twitter fa-2x"></i></a>&nbsp;

                        <!-- Instagram -->
                        <a style="color: #ac2bac;" href="#!" role="button"><i class="fab fa-instagram fa-2x"></i></a>

                    </div>
                </div>
            </div>
            <hr>
            <!-- <footer class="footer mt-auto py-3 dark-bg">-->
            <p class="m-0 text-center text-white">&copy; Wannabe Healthy 2022 </p>
            <!-- <p class="m-0 text-center text-white">Follow us: <i class="fab fa-facebook-square ms-3"></i>
            <i class="fab fa-twitter-square ms-3"></i>-->
    </footer>

    <script>
        setTimeout(function () {
            let messages = document.getElementById('msg');
            let alert = new bootstrap.Alert(messages);
            alert.close();
        }, 2500);
    </script>
</body>

</html>