{% extends "base.html" %}
{% block title %}Edit Post{% endblock %}
{% block content %}

{% load crispy_forms_tags %}

{% if user.is_authenticated %}
    {% if user.id == post.author.id %}

    <h1>edit page</h1>

    <div class="container-fluid">
        <div class="row">

            <section class="py-5 min-vh-80">
                <div class="container" id="newpost">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <h1><strong>Edit your Post:</strong></h1>
                            <p>Ensure to complete all fields</p>
                            <br>
                            <form class="form text-muted" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ form | crispy }}
                                <br>
                                <br>
                                <button type="submit" class="btn btn-primary btn-lg btn-block">Update</button>
                            </form>
                        </div>
                    </div>
                </div>
            </section>


        </div>
    </div>
    {% else %}
        You are not allowed to edit this post
    {% endif %}    

    
{% endif %}

<a href="{% url 'home' %}" class="btn btn-secondary">Back</a>


{%endblock%}