{% extends "base.html" %}
{% block title %}Edit Recipe{% endblock %}
{% block content %}

{% load crispy_forms_tags %}


<h1><strong>Edit your Recipe:</strong></h1>
<div class="container-fluid">
    <div class="row">

        <section class="py-5 min-vh-80">
            <div class="container" id ="newpost">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        
                        <p>Ensure to complete all fields</p>
                        <br>                        
                        <form class="form text-muted" method="post" enctype="multipart/form-data">
                            
                            {% csrf_token %}
                            {{ form | crispy }}
                            <br>
                            <br>
                            <button class="btn btn-success" type="submit">Edit Recipe</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>


    </div>
</div>

<a href="{% url 'recipes' %}" class = "btn btn-secondary">Back</a>


{%endblock%}