{% extends 'base.html' %} {% block content %}

{% load static %}

<h1>edit page</h1>

<div class="container-fluid">
    <div class="row">

        <section class="py-5 min-vh-80">
            <div class="container" id ="newpost">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <h1><strong>Edit your Post:</strong></h1>
                        <p>Ensure to complete all fields</p>
                        <br>                        
                        <form class="form text-muted" method="POST" action="{% url 'add_post' %}"
                            enctype="multipart/form-data">
                            
                            {% csrf_token %}
                           
                            <br>
                            <br>
                            <button class="btn btn-success" type="submit">Edit Post</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>


    </div>
</div>

<a href="{% url 'home' %}" class = "btn btn-secondary">Back</a>


    
    
    {% endblock content %}
    