{% extends "base.html" %}
{% block title %}Edit Recipe{% endblock %}
{% block content %}

{% load crispy_forms_tags %}

<h1 class="green">Edit your Recipe:</h1>
<p class="green">Ensure to complete all fields</p>

<div class="container-fluid">
    <div class="row">
        <section class="py-5 min-vh-80">
            <div class="container" id="newpost">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <form class="form text-muted" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form | crispy }}
                            <br>
                            <br>
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Update</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<a href="{% url 'recipes' %}" class="btn btn-primary">Back</a>


{%endblock%}