{% extends 'base.html' %} {% block content %}

<div class="container-fluid">
    <h2>Register</h2>	
      <div class="row-fluid">
        <fieldset>
            <label>User Name</label>
        </fieldset>
        <div class="input">
            <input type="text">
        </div>
        <fieldset>
            <label>Password</label>
        </fieldset>
        <div class="input">
            <input type="password">
        </div>
        <div class="input">
            <input type="submit" class="btn" value="Accept" />
            <input type="submit" class="btn" value="Cancel" />
        </div>
      </div>
        </div>
 
{% endblock content %}        