{% extends "base.html" %}
{% block title %}WannabeHealthy/Profile Page{% endblock %}
{% block content %}

<h1 class="green">Profile Page</h1>



<!-- <img class="rounded-circle account-img" src="{{ profile.avatar.url }} " style="cursor: pointer;"/> -->
<div class="col-sm-6 col-md-6 col-xs-6">
    <div class="row">

        <!-- <div class="m-b-25"> <img class="rounded-circle account-img" id="profile-img" src="{{ profile.avatar.url }}"
            class="img-radius" alt="User-Profile-Image"> </div> -->

        
    
    
</div> 



        <!-- </form>
</div> -->

        <section class="section mt-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        {% if "placeholder" in profile.profile_pic.url %}
                        <div class="m-b-25"> <img class="rounded-circle account-img img-radius" id="profile-img"
                                src="https://res.cloudinary.com/dspwticaf/image/upload/v1667936304/generic-profile_optkrd.jpg"
                                 alt="User-Profile-Image">
                        </div>
                            {% else %}
                        <div class="m-b-25"> <img class="rounded-circle account-img img-radius" id="profile-img"
                                    src="{{ profile.profile_pic.url }}" alt="User-Profile-Image"> 
                        </div>
                            {% endif %}
                          
                        </div>
                        <div class="col-md-6 col-lg-5 ml-auto d-flex align-items-center mt-4 mt-md-0">
                            <div>
                                <div class="form-group">
                                    
                                    <label class="labelling">Username:</label> {{ profile.user }}
                                    <br>
                                    <br>
                                    <label class="labelling">Bio:</label> {{ profile.bio }}
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
        </section>

        <div class="profedit">
            <a href="{% url 'editprofile' %}" class="btn btn-success">Edit Profile</a>
        </div>

      

        {% endblock content %}