{% extends 'base.html' %}
{% block title %}WannabeHealthy/Recipe Details{% endblock %}
{% block content %}
{% load crispy_forms_tags %}

<!-- <main class="flex-shrink-0 main-bg"></main> -->

<h3 class="recipe-category">
    <iconify-icon icon="akar-icons:utensils"></iconify-icon>&nbsp;Category:&nbsp;{{ recipe.category }}
</h3>
<div>
    <hr>
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <!-- Post title goes in these h1 tags -->
                <h1 class="recipe-title">{{ recipe.title }}</h1>
                <!-- Post author goes before the | the post's created date goes after -->
                <p class="recipe-subtitle">{{ recipe.author }} | {{ recipe.created_on }}</p>
            </div>
            <div class>
                {% if "placeholder" in recipe.featured_image.url %}
                <img id="Default" type="image/jpg"
                    src="https://res.cloudinary.com/dspwticaf/image/upload/v1667219575/pexels-angele-j-128402_uqxcg2.jpg"
                    alt="Default image" class="centeralign" alt="recipe image">
                {% else %}
                <img src=" {{ recipe.featured_image.url }}" class="centeralign" alt="user image">
                {% endif %}
            </div>
        </div>

        <div class="centeralign">
            <p><strong>Difficulty Level:</strong> {{ recipe.difficulty }} | &nbsp;<i
                    class="fas fa-clock">&nbsp;</i>{{ recipe.cooking_time }}</p>
        </div>
        <hr>

        <h3 class="stylingtext">Description:</h3>
        <p class="italic-bold">{{ recipe.description | safe }} </p>
        <hr>
        <h3 class="stylingtext">Ingredients:</h3>
        <div class="card-text"> {{ recipe.ingredients | safe }} </div>
        <hr>
        <h3 class="stylingtext">Method:</h3>
        <div class="card-text"> {{ recipe.method | safe }} </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col card mb-4  mt-3 left  top">

                <div class="row">

                    <div class="col-1">
                        <strong>
                            {% if user.is_authenticated %}
                            <form class="d-inline" action="{% url 'recipe_likes' recipe.slug %}" method="POST">
                                {% csrf_token %}
                                {% if liked %}
                                <button type="submit" name="recipe_id" value="{{recipe.slug}}" class="btn-like">
                                    <iconify-icon icon="ant-design:heart-outlined" width="20"></iconify-icon>
                                </button>
                                {% else %}
                                <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like">
                                    <iconify-icon icon="ant-design:heart-outlined" width="20"></iconify-icon>
                                </button>
                                {% endif %}
                            </form>
                            {% else %}
                            <span class="text-secondary"><i class="far fa-heart"></i></span>
                            {% endif %}
                            <!-- The number of likes goes before the closing strong tag -->
                            <span class="text-secondary">{{ recipe.number_of_likes }} </span>
                        </strong>
                    </div>
                    <div class="col-1">
                        {% with comments.count as total_comments %}
                        <strong class="text-secondary"><i class="far fa-comments"></i>
                            <!-- Our total_comments variable goes before the closing strong tag -->
                            {{ total_comments }}
                            {{ recipe.total_comments }}</strong>
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="row">

                    <div class="col-2">
                        <strong>
                            {% if user.is_authenticated %}
                            <form class="d-inline" action="{% url 'recipe_likes' recipe.slug %}" method="POST">
                                {% csrf_token %}
                                {% if liked %}
                                <button type="submit" name="recipe_id" value="{{recipe.slug}}" class="btn-like">
                                    <iconify-icon icon="ant-design:heart-outlined" width="20"></iconify-icon>
                                </button>
                                {% else %}
                                <button type="submit" name="recipe_id" value="{{recipe.slug}}" class="btn-like">
                                    <iconify-icon icon="ant-design:heart-outlined" width="20"></iconify-icon>
                                </button>
                                {% endif %}
                            </form>
                            {% else %}
                            <strong><span class="text-secondary"><i class="far fa-heart"></i></span>
                                {% endif %}
                                The number of likes goes before the closing strong tag
                                <span class="text-secondary">{{ recipe.number_of_likes }} </span>
                            </strong>
                    </div>
                    <div class="col-1">
                        {% with comments.count as total_comments %}
                        <strong><span class="text-secondary"><i class="far fa-comments"></i></span>
                            Our total_comments variable goes before the closing strong tag 
                            {{ total_comments }}
                            <span class="text-secondary">{{ recipe.total_comments }} </span>
                        </strong>
                    </div>
                    {% endwith %}
                </div>
      -->

    <div class="container">
        <div class="row">
            <div class="col card mb-4  mt-3 left  top">

                <div class="col-md-3 d-flex justify-content-center">
                    {% if "placeholder" in profile.profile_pic.url %}
                    <div class="poster"> <img class="rounded-circle account-img img-radius" id="profile-img1"
                            src="https://res.cloudinary.com/dspwticaf/image/upload/v1667936304/generic-profile_optkrd.jpg"
                            alt="default image">
                    </div>
                    {% else %}
                    <div class="poster"> <img class="rounded-circle account-img img-radius" id="profile-img1"
                            src="{{ profile.profile_pic.url }}" alt="user image">
                    </div>
                    {% endif %}
    
                

                <div class=" d-flex align-items-center mt-4 mt-md-0">
                    <div>
                        <div class="form-group">
                            <h4 class="profile-title"> {{ profile.user }} </h4>
                            <label class="labelling">Bio:</label> {{ profile.bio }}
                        </div>
    
                    </div>
                </div>
            </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3">
            <h3 class="green">Comments:</h3>
            <div class="commentsection">
                <!-- loop inside the empty control tags to iterate through each comment in comments -->
                {% for comment in comments %}
                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">
                        <!-- The commenter's name goes heres -->
                        {{ comment.name }}
                        <span class=" text-muted font-weight-normal">
                            <!-- The comment's created date goes here -->
                            {{ comment.created_on }}
                        </span> wrote:
                    </p>
                    <!-- The body of the comment goes before the | -->
                    {{ comment.body | linebreaks }}
                </div>
                <!-- Our for loop ends here -->
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4 card mb-4  mt-3 ">
            <div class="card-body">
                {% if commented %}
                <div class="alert alert-success" role="alert">
                    Your comment is awaiting approval
                </div>
                {% else %}
                {% if user.is_authenticated %}

                <h3>Leave a comment:</h3>
                <p>Posting as: {{ user.username }}</p>
                <form method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <br>
                    <button type="submit" class="btn btn-success">Submit</button>
                </form>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% if user.is_authenticated %}
{% if user.id == post.author.id %}


<a href="{% url 'edit_recipe' post.slug  %}" class="btn-link">(Edit)</a>

<a href="{% url 'delete_recipe' post.slug  %}" class="btn-link">(Delete)</a>

{% endif %}
{% endif %}

<a href="{% url 'recipes' %}" class="btn btn-primary">Back</a>

<br>

<!-- </main> -->

{% endblock content %}