{% extends "base.html" %}
{% block title %}WannabeHealthy/Recipe Page{% endblock %}
{% block content %}


<h2 class="green center">Recipe Collection</h2>

<p class="col-lg-8 col-xl-6 col-md-4" id="recipeintro">Browse through the recipes and find inspiration for diet changes.
    It can be simple to adapt your present habits to include life enriching choices. Consider a vegetarian diet or start
    simpler, try a flexitarian option, so it does not feel as daunting. You can find the recipes through categories and if you
    want to join in, please submit your own recipe, try to keep it healthy as you don't want to lead others astray. So stay a
    while around and give your tastebuds a treat.
</p>


<a href="{% url 'add_recipe' %}" class="btn btn-success" id="center">Add a Recipe</a>

<br />
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <nav class="searchform">
                <div>
                    <form role="search" action="{% url 'search_recipes' %}" method="get">
                        {% csrf_token %}
                        <div class="input-group">
                            <input type="text" name="q" class="form-control" />
                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-search btn-success">
                                    <span class="glyphicon glyphicon-search"></span>
                                    <span class="label-icon">Search</span>
                                </button>
                                </ul>
                            </div>
                        </div>
                    </form>
                </div>
            </nav>
        </div>
    </div>


<div class="container-fluid">
    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for recipe in recipe_list %}
                <div class="col-md-4" id="postlook1">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h3 class="card-title">{{ recipe.title }}</h3>
                            <div class="image-container">
                                {% if "placeholder" in recipe.featured_image.url %}
                                <img class="card-img-top"
                                    src="https://res.cloudinary.com/dspwticaf/image/upload/v1667219575/pexels-angele-j-128402_uqxcg2.jpg">
                                {% else %}

                                <img class="card-img-top" src=" {{ recipe.featured_image.url }}">
                                {% endif %}
                                <div class="image-flash2">
                                    <h3 class="category"> {{ recipe.category }}</h3>
                                </div>
                                <div class="image-flash3">
                                    <p class="author">Author: {{ recipe.author }}</p>
                                </div>
                                <br>
                                <h6 class="green"><strong>Difficulty Level:</strong> {{ recipe.difficulty }} | &nbsp;<iconify-icon inline icon="emojione:timer-clock" width="20"></iconify-icon>&nbsp</i>{{ recipe.cooking_time }}</h6>
                               
                                <p class="card-text">{{ recipe.description}}</p>

                            </div>

                            <a href="{% url 'recipe_detail' recipe.slug %}" class="btn btn-danger" id="center">See
                                Recipe</a>

                            <br>
                            <p class="card-text text-muted h6">{{ recipe.created_on}} <i class="far fa-heart"></i>
                                {{ recipe.number_of_likes }} &nbsp;<i class="far fa-comments">&nbsp;
                                </i>{{ recipe.number_of_comments }}</p>

                            <hr />
                            <div class="buttongroup">
                                <a href="{% url 'edit_recipe' recipe.slug %}" class="btn btn-success">Edit</a>
                                <a href="{% url 'delete_recipe' recipe.slug %}" class="btn btn-danger">Delete</a>
                            </div>

                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    {% if is_paginated %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
                {% endif %}
                {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>
{%endblock%}