{% extends "base.html" %}
{% block title %}WannabeHealthy/Edit Profile{% endblock %}
{% block content %}

{% load crispy_forms_tags %}

<div class="container-fluid">
    <div class="row">
        <h1 class="green"><strong><iconify-icon icon="carbon:user-profile"></iconify-icon>&nbsp;Edit your Profile:</strong></h1>
        <p class="green">Ensure to complete all fields</p>
        <section class="py-5 min-vh-80">
            <div class="container" id="newpost">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <form action="{% url 'editprofile' %}" class="form text-muted" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form | crispy }}
                            <br>
                            <br>
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Update</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

{%endblock%}