{% extends "base.html" %}
{% block title %}WannabeHealthy/Add Recipe{% endblock %}
{% block content %}

{% load crispy_forms_tags %}

{% if user.is_authenticated %}


<h1 class="green"><iconify-icon icon="material-symbols:add-circle-outline" class="greenicon"></iconify-icon>&nbsp;Add a Recipe:</h1>
<p class="green">Ensure to complete all fields</p>
<div class="container-fluid">
    <div class="row">
        <div class="py-5 min-vh-80">
            <div class="container" id="newpost">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <br>
                        <form class="form text-muted" method="POST" action="{% url 'add_recipe' %}"
                            enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form | crispy }}
                            <br>                            
                            <button class="btn btn-success" type="submit">Add Post</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% else %}
<br>
       <h4 class="green">Sorry, you are not allowed to add a Recipe</h4>
    {% endif %}   

<div class="center">
    <a href="{% url 'recipes' %}" class="btn btn-primary">BACK</a>
</div>
<br>



{%endblock%}