{% extends "base.html" %}
{% block title %}WannabeHealthy/Delete Recipe{% endblock %}
{% block content %}

{% load crispy_forms_tags %}

{% if user.is_authenticated %}
{% if user.id == recipe.author.id %}

<h2 class="green"><iconify-icon inline icon="material-symbols:delete-outline-rounded" class="greenicon"></iconify-icon>&nbsp;Delete your Recipe:</h2>
<div class="container-fluid">
    <div class="row">
        <section class="py-5 min-vh-40">
            <div class="container" id="newpost1">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <br>
                        <h3>Delete: {{ recipe.title }}</h3>
                        <br>
                        <form class="form text-muted" method="post">
                            {% csrf_token %}
                            {{ form | crispy }}                            
                            <button type="submit" class="btn btn-danger btn-lg btn-block">Delete</button>
                            <br>
                            <br>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

{% else %}
You are not allowed to delete this recipe
{% endif %}

{% endif %} 

<a href="{% url 'recipes' %}" class="btn btn-primary">Back</a>


{%endblock%}