{% extends "base.html" %}
{% block title %}WannabeHealthy/Edit Recipe{% endblock %}
{% block content %}

{% load crispy_forms_tags %}

{% if user.is_authenticated %}
    {% if user.id == recipe.author.id %}

<h1 class="green"><iconify-icon inline icon="material-symbols:edit-document-outline-rounded" class="greenicon"></iconify-icon>&nbsp;Edit your Recipe:</h1>
<p class="green">Ensure to complete all fields</p>
<div class="container-fluid">
    <div class="row">
        <div class="py-5 min-vh-80">
            <div class="container" id="newpost">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <form class="form text-muted" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form | crispy }}
                            <br>
                            <br>
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Update</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% else %}
        You are not allowed to edit this post
    {% endif %}    

    
{% endif %}

<div class="center">
    <a href="{% url 'recipes' %}" class="btn btn-primary">BACK</a>
</div>
<br>

{%endblock%}