{% extends 'base.html' %}
{% block title %}WannabeHealthy/Recipe Details{% endblock %}
{% block content %}
{% load crispy_forms_tags %}


<div id="top"></div>

<h3 class="green">
    <iconify-icon icon="akar-icons:utensils" class="greenicon"></iconify-icon>Category:&nbsp;{{ recipe.category }}
</h3>
<div>
    <hr>
    <div class="container-fluid align-self-center">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <!-- Post title goes in these h1 tags -->
                <h1 class="recipe-title">{{ recipe.title }}</h1>
                <!-- Post author goes before the | the post's created date goes after -->
                <p class="recipe-subtitle">{{ recipe.author }} | {{ recipe.created_on }}</p>
            </div>
            <div class>
                {% if "placeholder" in recipe.featured_image.url %}
                <img id="Default" type="image/jpg"
                    src="https://res.cloudinary.com/dspwticaf/image/upload/v1667219575/pexels-angele-j-128402_uqxcg2.jpg"
                    alt="{{ recipe.title }} generic" class="centeralign img-fluid" alt="recipe image">
                {% else %}
                <img src=" {{ recipe.featured_image.url }}" class="centeralign img-fluid"
                    alt="{{ recipe.title }} image">
                {% endif %}
            </div>
        </div>

        <div class="centeralign">
            <h6 class="green"><strong>Difficulty Level:</strong> {{ recipe.difficulty }} | &nbsp;<strong>Cooking
                    Time:</strong>
                {{ recipe.cooking_time }}</h6>
        </div>
        <hr>

        <h3 class="stylingtext">Description:</h3>
        <p class="italic-bold">{{ recipe.description | safe }} </p>
        <hr>
        <h3 class="stylingtext">Ingredients:</h3>
        <div class="card-text1"> {{ recipe.ingredients | safe }} </div>
        <hr>
        <h3 class="stylingtext">Method:</h3>
        <div class="card-text1"> {{ recipe.method | safe }} </div>
    </div>

    {% if user.is_authenticated %}
    {% if user.id == recipe.author.id %}

    <div class="buttongroup1">
        <a href="{% url 'edit_recipe' recipe.slug  %}" class="btn btn-success btnstyle">Edit</a>
        <a href="{% url 'delete_recipe' recipe.slug  %}" class="btn btn-success btnstyle">Delete</a>
        <br>
        {% endif %}
        {% endif %}
    </div>
    <hr>

    <div class="row">
        <div class="col-2">            
                {% if user.is_authenticated %}
                <form class="d-inline" action="{% url 'recipe_likes' recipe.slug %}" method="POST">
                    {% csrf_token %}
                    {% if liked %}
                    <button type="submit" name="recipe_id" aria-label="recipe_id" value="{{recipe.slug}}" class="btn-like">
                        <iconify-icon icon="ant-design:heart-outlined" width="20"></iconify-icon>
                    </button>
                    {% else %}
                    <button type="submit" name="recipe_id" aria-label="recipe_id" value="{{recipe.slug}}" class="btn-like">
                        <iconify-icon icon="ant-design:heart-outlined" width="20"></iconify-icon>
                    </button>
                    {% endif %}
                </form>
                {% else %}               
                <span class="text-secondary">
                    <iconify-icon inline icon="ant-design:heart-outlined" width="20"></iconify-icon></span>
                    {% endif %}
                    <strong>
                    <span class="text-secondary">{{ recipe.number_of_likes }}</span>
                    </strong>           
        </div>
        <div class="col-2">
            {% with comments.count as total_comments %}
            <span class="text-secondary">&nbsp;<iconify-icon inline icon="fa-regular:comments" width="20"></iconify-icon></span>
            <strong>
                <span class="text-secondary">{{ total_comments }}</span>
            </strong>
            {% endwith %}
        </div>
    </div>
    <hr>
    <section class="profilesection">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2 d-flex justify-content-center">
                    {% if "placeholder" in profile.profile_pic.url %}
                    <div class="poster"> <img class="rounded-circle account-img img-radius" id="profile-img1"
                            src="https://res.cloudinary.com/dspwticaf/image/upload/v1667936304/generic-profile_optkrd.jpg"
                            alt="default image">
                    </div>
                    {% else %}
                    <div class="poster"> <img class="rounded-circle account-img img-radius" id="profile-img1"
                            src="{{ profile.profile_pic.url }}" alt="user image">
                    </div>
                    {% endif %}
                </div>
                <div class="col-md-4 col-lg-5 ml-auto d-flex align-items-center mt-4 mt-md-0">
                    <div>
                        <div class="form-group">
                            <h4 class="profile-title"> {{ profile.user }} </h4>
                            <label class="labelling">Bio:</label> {{ profile.bio }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3">
            <h3 class="green">Comments:</h3>
            <div class="commentsection">
                <!-- loop inside the empty control tags to iterate through each comment in comments -->
                {% for comment in comments %}
                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">
                        <!-- The commenter's name goes heres -->
                        {{ comment.name }}
                        <span class="font-weight-bold" style="color: rgb(7, 124, 7); font-weight: 600;">                        
                            <!-- The comment's created date goes here -->
                            {{ comment.created_on }}
                        </span> wrote:
                    </p>
                    <!-- The body of the comment goes before the | -->
                    {{ comment.body | linebreaks }}
                </div>
                <!-- Our for loop ends here -->
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4 card mb-4  mt-3 ">
            <div class="card-body4">
                {% if commented %}
                <div class="alert alert-success" role="alert">
                    Your comment is awaiting approval
                </div>
                {% else %}
                {% if user.is_authenticated %}
                <h3>Leave a comment:</h3>
                <p>Posting as: {{ user.username }}</p>
                <form method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <br>
                    <button type="submit" class="btn btn-success">Submit</button>
                </form>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="center">
    <a href="{% url 'recipes' %}" class="btn btn-primary center">BACK</a>
</div>
<br>
<a id="top-button" href="#top" aria-label="Going to top of page">Top of Screen &nbsp; <iconify-icon inline
        icon="mdi:arrow-up" width="16"></iconify-icon>
</a>

{% endblock content %}